
@mixin flex($justify-content: flex-start, $align-items: center, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction; 
  justify-content: $justify-content; 
  align-items: $align-items; 
}

@mixin button($bg-color, $txt-color) {
  transition: transform 200ms, background-color 200ms;
  background-color: $bg-color;
  color: $txt-color; 
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 8px 18px;

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px rbga(0,0,0,0.15);
  }
  &:active {
    transform: scale(1);
    background-color: darken($bg-color, 5%);
  }
}