.trip-form-container {
  margin-top: 40px;
  @include flex(center, center, column); 
  background-color: $cream;
  width: 100vw;
  position: relative;

  .cancel-btn {
    @include flex(space-between, center); 
    width: 570px;
    text-decoration: underline;
    color: $blue; 
    
  }
  
  .cancel-btn a, a.cancel-btn {
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: lighten($blue, 10%); 
    }
  }
  a.cancel-btn {
    justify-content: center;
  }
  

  h1 {
    font-family: $header-font;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid slategray;
  }


  form {
    padding: 40px;
    @include flex(space-around, center, column); 
    min-width: 350px;
    max-width: 650px;

    > label {
      @include flex(center, flex-start, column); 
      margin-bottom: 30px;
      
      width: 100%;
      position: relative;
    }
    
    input, textarea {
      width: 100%;
      border: none; 
      margin: 7px 0;
      padding: 5px 10px;

      @include paper-bounce(); 
      cursor: text;

      &:active, &:focus  {
        box-shadow: 0 0 0 2px $red;
        outline: none; 
      }

    }

    input[type="submit"] {
      @include button($red, $cream); 
      margin: 20px 0;
    }
    
    // errors
    .errors {
      color: $red; 
      font-size: 14px;
      position: absolute;
      bottom: -20px;
    }


  }

}