
.site-header {
  @include flex(space-between); 
  padding: $site-margin;

  > * {
    padding: 30px;
  }
  // position: relative; 

  // background: linear-gradient(transparent), 
  //             linear-gradient(-45deg, $red 3.5%, $blue 3.5%);
    // height: 250px;
  // width: 400px;
  background: linear-gradient($cream, $cream), 
              linear-gradient(-45deg, $red 0%, $red 4%, 
              transparent 4%, transparent 8%, $blue 8%, $blue 12%, transparent 12%, transparent 16%, $red 16%, $red 20%, 

              transparent 20%, transparent 24%, $blue 24%, $blue 28%, transparent 28%, transparent 32%, $red 32%, $red 36%,

              transparent 36%, transparent 40%, $blue 40%, $blue 44%, transparent 44%, transparent 48%, $red 48%, $red 52%,

              transparent 56%, transparent 60%, $blue 60%, $blue 64%, transparent 64%, transparent 68%, $red 68%, $red 72%,

              transparent 72%, transparent 76%, $blue 76%, $blue 80%, transparent 80%, transparent 84%, $red 84%, $red 88%,

              transparent 88%, transparent 92%, $blue 92%, $blue 96%, transparent 96%, transparent 100%
              );   
  padding: 10px 20px;
  border-radius: 20px;
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;

  // &:before,
  // &:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   height: 12px;
  //   width: 100vw;
  //   transform: translateX(-30px);
  //   background: repeating-linear-gradient(
  //     -45deg,
  //     $red,
  //     $red 12px,
  //     transparent 10px,
  //     transparent 23px
  //   );
  // }
  // &:after {
  //   bottom: 0; 
  // }
  // &:before {
  //   top: 0; 
  // }

  // div:first-child {
  //   &:before,
  //   &:after {
  //     content: '';
  //     display: block;
  //     width: 100%;
  //     position: absolute;
  //     height: 12px;
  //     width: 100vw;
  //     transform: translateX(-30px);
  //     background: repeating-linear-gradient(
  //       -45deg,
  //       $red,
  //       $red 12px,
  //       transparent 10px,
  //       transparent 23px
  //     );
  //   }
  //   &:after {
  //     bottom: 0; 
  //   }
  //   &:before {
  //     top: 0; 
  //   }
  // }

  button {
    @include button($red, white); 
    margin-left: 15px;
  }
}