
.site-header {
  padding: $site-margin/2;

  .logo {
    font-family: $display-font;
    font-weight: 600;
    font-size: 44px; 
  }
  
  > * {
    padding: 10px 20px;
  }
  
  // background: $postcard-border; 
  // padding: 10px 20px;
  // border-radius: 20px;
  // background-clip: content-box, padding-box;

  @include postcard-border();
  
  .content {
    @include flex(space-between); 
    height: 100%;
    width: 100%;
    background-color: $cream; 
  }

  button {
    @include button($blue, white); 
    margin-left: 15px;
  }
}