$body-height: 70vh; 

.landing-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px; 
  margin: $site-margin;
  height: $body-height;
  position: relative;

  aside {
    @include flex($flex-direction: column); 
    background-color: $yellow;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 0;

    &::-webkit-scrollbar {
      transition: background-color 1s;
      background-color: $yellow;
      width: 20px;
    }

    &:hover {
      &::-webkit-scrollbar {
        border: 1px solid rgba(0,0,0,0.2);
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 5px; 
        border: 1px solid rgba(0,0,0,0.2);
      }
    }

    
    
  }
  

  .add-btn {
    position: absolute;
    bottom: -($add-btn-radius/2.5);
    right: -($add-btn-radius/4);
  }
}

.trips-index.map-wrapper {
  width: 100%;
  height: $body-height;
}