
.modal-container {
  z-index: 10;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  @include flex(center, center); 
}

.modal-child {
  @include flex(center, center); 
  background-color: $cream;
  width: 450px;
  position: relative;

  div:first-child {
    @include flex(center, flex-end, column); 

    span {
      cursor: pointer;
      width: 70px;
      height: 70px;
      top: 0; 
      right: 0;
      position: absolute;
      text-align: center;
      font-size: 13px;
      padding: 3px;
    }
  }



  h1 {
    font-size: 26px;

    margin-bottom: 20px;
    border-bottom: 1px solid slategray;
  }


  form {
    padding: 40px;
    @include flex(space-around, center, column); 
    min-width: 300px;

    > label {
      @include flex(center, flex-start, column); 
      margin-bottom: 30px;
      
      width: 100%;
      position: relative;
    }
    
    input {
      width: 100%;
      border: none; 
      margin: 7px 0;
      padding: 5px 10px;

      @include paper-bounce(); 

      &:active, &:focus  {
        box-shadow: 0 0 0 2px $red;
        outline: none; 
      }

    }

    input[type="submit"] {
      @include button($red, $cream); 
      margin: 20px 0;
    }
    
    // errors
    p {
      color: $red; 
      font-size: 14px;
      position: absolute;
      bottom: -20px;
    }


  }

}

.other-form-btn {

}