
.postcard-show-wrapper {
  padding: 0 40px;

  > * {
    margin: 40px 0;
  }

  header {
    display: grid; 
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "section aside";
    gap: 15px;
  }

  section {
    grid-area: section;
  }

  aside {
    grid-area: aside; 
  }

  .map-wrapper {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }



  h1 {
    margin-top: 20px;
    font-size: 48px;
    font-family: $display-font;
  }

  p, a {
    font-family: $text-font;
  }

  a {
    font-style: italic;
    position: absolute;
    transition: font-size 200ms;
    color: $blue;

    &:hover {
      // transform: scale(1.03);
      font-size: 17px;
    }
    &:visited {
      color: $blue;
    }

    &:active, &:focus {
      color: $red; 
    }
  }

  .edit-postcard {
    transform: translateX(180px);
  }

  .delete-postcard {
    transform: translateX(310px);
    cursor: pointer;
  }

  main {
    border: 1px solid black;
    padding: 15px 5px;
    min-height: 400px;

    ul {
      display: grid; 
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      gap: 10px; 
      min-height: 400px;

      li {
        @include flex(center); 
        
        div {
          height: 100%;
          width: 100%;
          max-width: 300px;
          background-color: darken($cream, 5%);
          border-radius: 5px;
          @include flex(center, center); 

          &.active img {
            position: fixed;
            bottom: 50%;
            left: 50%;
            max-width: 90vw;
            max-height: 90vh;
            height: auto;
            transform: translate(-50%, 50%);
            z-index: 2;
          }
        }
        
        img {
          border-radius: 8px;
          height: 100%;
          object-fit: cover;

          transition: transform 300ms, width 300ms, height 300ms;
        }

      }
    }

  }
}

.postcard-image-item-wrapper.img-preview-wrapper {
  height: 70%;
  width: 100%;
  @include flex(center);
  
  div {
    border: 2px dashed black;
  }
}

.img-preview {
  opacity: 0.5; 
}

.upload-image-form {
  width: 100%;
  height: 100%;
  @include flex(space-around, center, column); 
  
  
  label {
    @include flex(center, center, column); 
    max-width: 300px;
    width: 100%;
    height: 100%;
    border: 2px dashed black;
    margin-bottom: 20px;
    cursor: pointer;
  }

  input {
    opacity: 0;
    position: absolute; 
    width: 0.1px; 
    height: 0.1px; 
    overflow: hidden; 
  }

  button {
    font-size: 14px;
    padding: 8px 18px;
    color: white; 
  }

  button.active {
    @include button($red, white); 
  }

  button.disabled {
    cursor: not-allowed;
    background-color: lighten($red, 10%);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
  }
}

.postcard-image-item-wrapper {
  div {
    position: relative;
  }
  
  figure {
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 3px;
    right: 3px;

    border-radius: 50%;
    $radius: 25px;
    width: $radius; 
    height: $radius;

    @include flex(center, center); 
    cursor: pointer;
    transition: transform 150ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  .pic-nav-buttons {
    position: fixed;
    font-size: 38px;
    
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;
  


    &:first-child {
      left: 50px;
    }

    &:last-child {
      right: 50px;
    }
  }

}