.trip-show-wrapper {
  margin: 30px 0; 
  @include flex(center, center, column); 

  section {
    width: 90vw;

    h1 {
      font-size: 40px;
      font-family: $header-font;
    }
    p {
      font-family: $text-font;
    }
  }

  article {
    width: 100%;
    @include flex(flex-start, center, column); 
  }

  .map-wrapper {
    margin: 30px 0;
    width: 90vw;
    height: 225px;
    position: sticky;
    top: 20px;
    z-index: 1;
    box-shadow: 0 0 0 20px $cream;
  }
}

$card-width: 450px; 

.postcard-index-item {
  width: $card-width;
  height: 250px;
  background-color: $yellow;
  border: 3px solid black;
  list-style: none;

  display: grid; 
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "article aside";

  padding: 5px;

  article {
    grid-area: article;
    // overflow-y: hidden;

    a {
      color: black; 
      text-decoration: none;
      transition: color 150ms, transform 150ms;

      &:hover {
        color: darken($blue, 10%); 
        transform: scale(1.05);
      }
    }

    h2 {
      font-family: $header-font;
      font-size: 28px;
    }

  }

  aside {
    grid-area: aside;

    @include flex(flex-start, center, column); 
    text-align: center;
    white-space: nowrap;

    p {
      font-size: 14px;
    }

    img {
      margin-top: 10px;
      $width: 85%; 
      width: $width;
      height: auto;
    }
  }


}

.arrow {
  position: absolute;
  width: 15vw;
  height: 20vh;
}

.postcard-index-item:first-child > .arrow {
  display: none;
}

$distance-from-center: -20%;

.postcard-index-item:nth-child(even) {
  position: relative;
  right: $distance-from-center;

  .arrow {
    transform: translateX(-190%);
  }
}

.postcard-index-item:nth-child(odd) {
  position: relative;
  left: $distance-from-center;
  
  .arrow {
    transform: scaleX(-1) translateX(-300%);
  }
}

@media only screen and (min-width: 1350px) {
  .postcard-index-item:nth-child(odd) .arrow {
    transform: scaleX(-1) translateX(-250%);
  }
  
}

.create-postcard-wrapper.postcard-index-item {  
  background-color: unset;
  border: unset; 
  
  .create-postcard-card {
    position: relative;
    border: 4px dashed black;
    height: 100%;
    width: $card-width; 

    @include paper-bounce(); 
    &:hover {
      transform: scale(1.02); 
    }

    .add-btn {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  a {
    @include flex(center, center);
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  h2 {
    text-decoration: none;
  }
}