
.user-show-container {
  @extend .landing-container; 

  .user-details {
    @include flex(space-between);

    h1 {
      font-size: 33px;
    }

    .follow-btn {
      padding: 4px 12px;
      margin-right: 3px;
    }
  }

  > aside > .trips-index {
    margin-top: 0;
  }

  .add-btn {
    right: unset;
    left: -30px; 
  }

}
@media only screen and (max-width: 1400px) {
  .user-show-container {
    grid-template-columns: 55% 45%;
  }
}